#ting-collection .picture, #ting-search-result .picture {
  float: left;
}
.picture img {
  display: block;
}

#ting-collection .ting-item {
  margin-bottom: 0;
}

#ting-search-result li, #ting-collection .content {
  background-color: #F0F0F0;
}
#ting-collection .item, #ting-search-result .item {
  margin-left: 80px;
}

#ting-search-result .subjects, #ting-search-result .creator, #ting-search-result .publication_date,
#ting-collection .author,
#ting-collection .date {
  color: #A1A1A2;
}

#ting-search-result p.abstract {
  margin-bottom: 0;
}

#ting-search-results #ting-search-summary {
  text-align: center;
  padding: 1em;
}

.graybox-btns h3 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
}

#ting-search-sort,
#ting-search-summary {
  margin-left: 1em;
}

#ting-search-results #pager > div.nav {
  display: none;
}

#ting-search-results #pager > div {
  width: 25%;
  margin-top: 3px;
  float: left;
  text-align: center;
}

#ting-search-results #pager > div:last-child {
  float: right;
}

#ting-search-results #pager a {
  display: block;
  background: #F0F0F0;
  padding: 1em 0;
  text-decoration: none;
  color: #000;
}

#ting-search-sort {
  padding: 1em;
  text-align: center;
}

 #ting-collection .material-links,
 #ting-collection .terms {
   display: none;
 }
 
 .ting-overview .creator {
  margin: 1em;
  color:#A1A1A2;
 }

 .ting-overview .abstract {
  margin:1em ;
 }
 
.ting-search-collection-types li {
  list-style: none !important;
  float: left;
  background-color: #C0C0C0 !important;
  color: #fff;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  padding: 2px !important;
}

.ting-search-collection-types li.available {
  background-color: #71BF44 !important;
}
.ting-search-collection-types li.unavailable {
  background-color: #F85F26 !important;
}

/* !----- TING SEARCH ----- */
#ting-search-result .graybox-btns a,
#ting-collection .graybox-btns a {
  padding: 0.5em 3em 0.5em 1em;
}

.page-ting .ting-search-collection-types {
  overflow: hidden;
  margin-top: 6px;
}

#ting-search-result p.abstract {
  margin-top: 4px;
}

#ting-collection .picture, 
#ting-search-result .picture {
  margin: 0.5em 0 0.5em;
}

.unavailable, .unreservable, .available, .waiting {
  background: none repeat scroll 0 0 #F85F26;
  color: #FFFFFF;
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 2px;
}

.available {
  background: #71BF44;
}

.reserved {
  background: #6B0046;
}
